.container {
    background-color: azure;
    height: 400px;
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

.form {
    display: flex;
    width: 350px;
    height: 300px;
    padding: 15px;
    margin: 0 auto;
}

.contacts {
    margin: 0 auto;
}