.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 30px;
}


.project__item {
    padding: 40px;
    background: darkcyan;
    width: 100px;
    height: 100px;
}