.projectsContainer{
    background-color: #c1f390;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectsContainer h2 {
    margin-bottom: 20px;
}



.projectsList {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;

    padding: 20px;
    border: 2px solid;
}


.projectItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 2px solid;
    max-width: 500px;
    height: 500px;

}