.profilerContainer{
    background-color: azure;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 25%;
    padding-left: 25%;
}

.profilerText p{
    font-size: 20px;

}
.profilerText h1 {
    font-size: 40px;
}

.profilerPhoto {
    border: 2px solid;
    width: 300px;
    height: 400px;

}
.profilerPhoto img {

}