.header__container {
    min-height: 90px;
    max-height: max-content;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

