.header {
    height: 80px;
    background-color: #5e6686;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__social{
    padding: 20px;
    border: 2px solid red;
    margin-left: 20px ;
}
.header__navLinks{
    padding: 20px;
    border: 2px solid red;
    margin-right: 50px ;
}

.header__navLinks a {
    margin: 0px 30px;
    align-items: center;
    text-decoration: none;
}
