.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #997878;
}

.hello {
    padding: 20px;
    border: 1px solid darkblue;
    margin-left: 300px;
}

.img {
    padding: 20px;
    border: 1px solid darkblue;
    margin-right: 300px;
}